<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="p2 WebView Builder"
            id="ca.piggott.p2.site.webview.ui.actions.P2SiteBuilder">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ca.piggott.p2.site.webview.ui.actions.P2SiteBuilder"
            class="ca.piggott.p2.site.webview.ui.P2SiteBuilderHandler">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
            <command
                  commandId="ca.piggott.p2.site.webview.ui.actions.P2SiteBuilder"
                  id="ca.piggott.p2.site.webview.ui.actions.P2SiteBuilder">
            </command>
      </menuContribution>
   </extension>
</plugin>
